@media screen and (max-width: 768px) {
    .Integromat {
        margin: 0;
        padding: 0;
    }
}

.Integromat__header {
    margin-bottom: 0.5em;
}

.Integromat__buttons {
    border: 1px solid #DDD;
}
