@media screen and (max-width: 768px) {
    .DMPShow {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 769px) {
    .DMPView {
        margin-top: 15px;
    }
}

.anchor {
    margin-top: -100px;
    padding-top: 100px;
    display: block;
    z-index: -1;
    position: relative;
}

.affix {
    position: fixed;
}

.summaryTable {
    width: 95%;
    margin: 1em;
    font-size: 16px;
    margin-bottom: 20px;

    th {
        background: #efefef;
        width: 230px;
        padding: 0.5em;
        font-weight: normal;
    }

    tr {
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
    }

    td {
        padding: 0.5em;
    }
}

.peopleTable {
    width: 95%;
    max-width: 95%;
    margin-bottom: 20px;
}

.peopleTableHeadding {
    font-weight: bold;
}

.datasetEditingForm {
    overflow-y: initial !important;

    .datasetEditingBody {
        max-height: 100%;
        margin-bottom: 5%;
        overflow-y: auto;
    }

    h4 {
        margin-top: 3%;
        margin-left: 1%;
    }

    label {
        margin-left: 3%;
    }

    p {
        font-size: 80%;
        color: rgb(145, 145, 145);
    }

    .manualInput {
        font-size: 80%;
        color: rgb(95, 85, 250);
        cursor: pointer;
    }

    .choiceForm {
        width: 50%;
        margin-left: 5%;
    }

    .editingForm {
        width: 130%;
        margin-left: 5%;
    }

    .personForm {
        width: 70%;
        margin-left: 5%;
    }

    .hiddenBlock {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }

    input:checked ~ div {
        opacity: 1;
        border: solid #b5b5b5;
        width: 200%;
        height: auto;
        padding: 3%;
    }

    .hiddenChoiceForm {
        width: 50%;
        margin-left: 11%;
    }

    .releaseSchedule {
        display: flex;
        margin-left: 3%;
        padding: 1%;
    }

    .releaseDate {
        width: 25%;
        height: 5%;
    }

    .repository {
        width: 150%;
        margin-left: 7%;
    }

    .editingSubmit {
        color: rgb(255, 255, 255);
        background-color: #337ab7;
    }

    .editingFooter {
        margin-left: 70%;
        margin-bottom: 5%;
    }

    .hiddenBox {
        display: none;
        opacity: 0;
    }
}

.datasetConfirmForm {
    overflow-y: initial !important;

    .datasetConfirmBody {
        max-height: 100%;
        margin-bottom: 5%;
        overflow-y: auto;
    }

    td {
        height: 8%;
        border-top: 2px solid;
        border-bottom: 2px solid;
        font-size: 14px;
        padding: 2%;
    }

    .confirmTitle {
        font-size: 22px;
    }

    .confirmKey {
        background-color: rgba(151, 151, 151, 0.3);
        width: 25%;
    }

    .confirmation {
        color: #337ab7;
        margin-top: 2%;
    }

    .confirmFooter {
        margin-top: -8%;
    }

    .confirmOk {
        color: rgb(255, 255, 255);
        background-color: #337ab7;
    }
}

.dataSetNew {
    position: relative;
    left: 1em;
}

.dataSetTitleTable {
    width: 95%;
    margin: 1em;
    font-size: 16px;
}

.datasetButton {
    color: #fff;
    background-color: #337ab7;
    font-size: 14px;
}
